@import "variables";

.pagination {
  margin: $margin-pagination;

  &__button {
    background-color: $color-primary;
    color: $color-header-font;

    &:disabled {
      background-color: $color-secondary;
      color: black;
    }
  }

  &__button,
  &__page {
    padding: $padding-button;
  }
}
