@import "variables";

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: $color-table-background;
  box-shadow: 1px 2px 2px #ccc;

  &__element {
    padding: 0.75rem;

    &--light {
      color: $color-table-element-light;
    }
  }

  &__header {
    background-color: $color-table-header;
    text-align: left;
    border: 1px solid $color-table-border;

    & > .table__element {
      color: $color-primary;
    }
  }

  &__row {
    border: 1px solid $color-table-border;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $color-table-border;
      color: $color-primary;
      outline-color: $color-primary;
    }
  }
}
