// COLORS
$color-primary: #098b8c;
$color-secondary: #efede8;

// FONTS
$default-font-size: 1.6rem;
$default-font-family: Arial, Helvetica, sans-serif;

// HEADER
$color-header-font: white;

// TABLE
$color-table-background: #fafaf8;
$color-table-element-light: #9c9b9e;
$color-table-border: #efefef;
$color-table-header: white;

// BUTTON
$padding-button: 0.5rem 1rem;
$margin-button: 1rem;

// PAGINATION
$margin-pagination: 1.5rem;
